<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>测试</title>
    </head>
    <body>

            {% if isLogin %}
                <div>{{name}}</div>
            {% else %}
                <div>没有登录</div>
            {% endif %}
    </body>
</html> -->


{% extends 'base.html' %}

{% block title %}
新标题
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}

{% if isLogin %}
    <div>新内容
{% endif %}
</div>
{% endblock %}